snippet flow "Flow ..." b
Flow('${1}',${2}'${3}',${4}''' ${5} ''') 
endsnippet

snippet plot "Plot ..." b
Plot('${1}',${2}'${3}',${4}''' ${5} ''') 
endsnippet

snippet res "result ..." b
Result('${1}',${2}''' ${3} ''') 
endsnippet
